@import "bootstrap";
@import "font-awesome.min.css";
@import "gems";

.sidebar {
  position: fixed;
  left: 0px;
  width: 250px;
  height: 100%;
  background-color: #e9573f;
  a {
    display: block;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    cursor: hand;
    text-decoration: none;
    color: #fff;
  }
  a:hover{
    color: #fff;
    background-color: rgba(238, 238, 238, 0.2);
  }
}

.content {
  position: absolute;
  background-color: #fff;
  left: 250px;
  width: calc(100% - 250px);
  height: 100%;
  overflow-y: scroll;
  padding-top: 10px;
}

.title{
  color: #e9573f !important;
}

.values {
  color: #808080 !important;
}
